.container2 {
    background:linear-gradient( to top, #000, #00000000), url('/images/bg_one.png') ;
    background-position: center;
    background-size: cover;
    height: 100dvh;
}
.paperOne {
    position: relative; 
    /* display: block; */
}
.paperTwo {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;

    display: flex;
    flex-direction: column;
}
.mobile {
    display: none;
}

@media (max-width: 450px) {
    .container2 {
        background: url('/images/bg_one.png') ;
        background-position: center;
        background-size: cover;
        height: 100dvh;
    }
    .quest1 {
        max-width: 400px;
        margin-top: 50px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .paperOne {
        position: relative; 
        display: flex;
        align-items: center;
        width: 350px;
        /* align-items: center; */
    }
    .crew {
        font-size: 10px;
        margin-top: 20px;
        margin-left: 50px;
        width: 280px;
    }
    .every {
        font-size: 10px;
        margin-top: 20px;
        margin-left: 50px;
        font-size: 12px;
        max-width: 300px;
    }
    .formm {
        width: 370px;
    }
    .questionL {
        width: 290px;
        font-size: 16px;
        margin-left: 10px;
    }
    .questionB {
        width: 290px;
        font-size: 18px;
    }.pic2 > img {
        width: 100px;
        height: 129px;
    }
    .pic2 {
        top: 620;
        right: 30;
    }
}